html, body {

	height: 100%;

	font-family: Arial, sans-serif;
	font-size: 16px;
}

h1 { 

	margin-bottom: 5rem;

	font-size: 2rem;
	text-align: center;
}

h2 {

	margin: 2rem 0;
	
	font-size: 1.5rem;
	border-bottom: 1px solid #000;
}

h3 {

	margin: 3rem 0;
	
	font-size: 1rem;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {

	color: #AAA;
}

ul {
	
	list-style: square;
	line-height: 2rem;
}

.container {

	margin: 0 15%;

	padding-bottom: 5rem;
}

.code {

	height: 3rem;

	background-color: #000;
	font-size: 1.2rem;
	color: #FFF;

	line-height: 3rem;
	text-align: center;
	font-weight: bold;
}

.info {

	padding: 0.5rem 2rem;

	border-radius: 10px;

	background-color: #AFA;

	line-height: 1.5rem;
}

.warning {

	padding: 0.5rem 2rem;

	border-radius: 10px;

	background-color: #FAA;

	line-height: 1.5rem;
}

span.new {

	margin: 1rem 1rem;

	font-weight: bold;
	font-style: italic;

	color: green;
}